In [1]:
# This Notebook demonstrates what can be done with Matrix module
# also used for development playground...

In [2]:
import pandas as pd
import scipy.stats as stats
import pylab
import matplotlib.pyplot as plt

In [3]:
import os

In [4]:
from AuxFunctions import *
from Matrix import *
from TLD import *
from Gravity import *

# Matrix Examples

In [5]:
df = pd.DataFrame(data=[range(6) for row in range(3)], columns=['A1', 'A2', 'A3', 'B1', 'B2', 'B3'])
df

   A1  A2  A3  B1  B2  B3
0   0   1   2   3   4   5
1   0   1   2   3   4   5
2   0   1   2   3   4   5

In [6]:
m = mat(7)
m

     T1  T2  T3
O D
1 1   0   1   0
  2   1   2   6
  3   1   3  10
  4   0   4  12
  5   1   5  12
  6   1   6  10
  7   0   7   6
2 1   1   8   0
  2   1   9   0
  3   0  10  10
  4   1  11  12
  5   1  12  12
  6   0  13  10
  7   1  14   6
3 1   1  15   0
  2   0  16   6
  3   1  17   0
  4   1  18  12
  5   0  19  12
  6   1  20  10
  7   1  21   6
4 1   0  22   0
  2   1  23   6
  3   1  24  10
  4   0  25   0
  5   1  26  12
  6   1  27  10
  7   0  28   6
5 1   1  29   0
  2   1  30   6
  3   0  31  10
  4   1  32  12
  5   1  33   0
  6   0  34  10
  7   1  35   6
6 1   1  36   0
  2   0  37   6
  3   1  38  10
  4   1  39  12
  5   0  40  12
  6   1  41   0
  7   1  42   6
7 1   0  43   0
  2   1  44   6
  3   1  45  10
  4   0  46  12
  5   1  47  12
  6   1  48  10
  7   0  49   0

In [7]:
mat7 = Matrix(m)
mat7

     T1  T2  T3
O D
1 1   0   1   0
  2   1   2   6
  3   1   3  10
  4   0   4  12
  5   1   5  12
  6   1   6  10
  7   0   7   6
2 1   1   8   0
  2   1   9   0
  3   0  10  10
  4   1  11  12
  5   1  12  12
  6   0  13  10
  7   1  14   6
3 1   1  15   0
  2   0  16   6
  3   1  17   0
  4   1  18  12
  5   0  19  12
  6   1  20  10
  7   1  21   6
4 1   0  22   0
  2   1  23   6
  3   1  24  10
  4   0  25   0
  5   1  26  12
  6   1  27  10
  7   0  28   6
5 1   1  29   0
  2   1  30   6
  3   0  31  10
  4   1  32  12
  5   1  33   0
  6   0  34  10
  7   1  35   6
6 1   1  36   0
  2   0  37   6
  3   1  38  10
  4   1  39  12
  5   0  40  12
  6   1  41   0
  7   1  42   6
7 1   0  43   0
  2   1  44   6
  3   1  45  10
  4   0  46  12
  5   1  47  12
  6   1  48  10
  7   0  49   0

In [8]:
exmat = pd.DataFrame({'O': [10,10,20,20],
                      'D': [10,20,10,20],
                      'T':[3,2,4,1]}).set_index(['O','D'])
exmat

       T
O  D
10 10  3
   20  2
20 10  4
   20  1

In [9]:
I3 = I(3)
I3

     T
O D
1 1  1
  2  0
  3  0
2 1  0
  2  1
  3  0
3 1  0
  2  0
  3  1

In [10]:
ex_matrixp = os.path.join('example_data', 'ex_matrix_1.csv')
ex_matrix = pd.read_csv(ex_matrixp, index_col=[0,1])
ex_skimdistp = os.path.join('example_data', 'ex_skimdist_1.csv')
ex_skimdist = pd.read_csv(ex_skimdistp, index_col=[0,1])

In [11]:
zoning1 = Zoning(list(range(3)))
zoning2 = Zoning(list(range(10)))
zoning3 = Zoning([5+i for i in range(5)])
zoning4 = Zoning('A B C'.split())

In [12]:
mat7.complete(zoning3)

     T1  T2  T3
O D
1 1   0   1   0
  2   1   2   6
  3   1   3  10
  4   0   4  12
  5   1   5  12
  6   1   6  10
  7   0   7   6
2 1   1   8   0
  2   1   9   0
  3   0  10  10
  4   1  11  12
  5   1  12  12
  6   0  13  10
  7   1  14   6
3 1   1  15   0
  2   0  16   6
  3   1  17   0
  4   1  18  12
  5   0  19  12
  6   1  20  10
  7   1  21   6
4 1   0  22   0
  2   1  23   6
  3   1  24  10
  4   0  25   0
  5   1  26  12
  6   1  27  10
  7   0  28   6
5 1   1  29   0
  2   1  30   6
..   ..  ..  ..
  8   0   0   0
  9   0   0   0
6 1   1  36   0
  2   0  37   6
  3   1  38  10
  4   1  39  12
  5   0  40  12
  6   1  41   0
  7   1  42   6
  8   0   0   0
  9   0   0   0
7 1   0  43   0
  2   1  44   6
  3   1  45  10
  4   0  46  12
  5   1  47  12
  6   1  48  10
  7   0  49   0
  8   0   0   0
  9   0   0   0
8 5   0   0   0
  6   0   0   0
  7   0   0   0
  8   0   0   0
  9   0   0   0
9 5   0   0   0
  6   0   0   0
  7   0   0   0
  8   0   0   0
  9   0   0   0

[65 rows x 3 columns]

In [13]:
mat7.matrix.T3

D  1  2   3   4   5   6  7
O
1  0  6  10  12  12  10  6
2  0  0  10  12  12  10  6
3  0  6   0  12  12  10  6
4  0  6  10   0  12  10  6
5  0  6  10  12   0  10  6
6  0  6  10  12  12   0  6
7  0  6  10  12  12  10  0

In [14]:
mat7.TDp.matrix.T3

D    1         2         3         4         5         6         7
O
1  0.0  0.166667  0.166667  0.166667  0.166667  0.166667  0.166667
2  0.0  0.000000  0.166667  0.166667  0.166667  0.166667  0.166667
3  0.0  0.166667  0.000000  0.166667  0.166667  0.166667  0.166667
4  0.0  0.166667  0.166667  0.000000  0.166667  0.166667  0.166667
5  0.0  0.166667  0.166667  0.166667  0.000000  0.166667  0.166667
6  0.0  0.166667  0.166667  0.166667  0.166667  0.000000  0.166667
7  0.0  0.166667  0.166667  0.166667  0.166667  0.166667  0.000000

from imp import reload
import Matrix

reload(Matrix)
from Matrix import *

In [15]:
basicmapping = pd.DataFrame({
        'sectors': 'A A B B B C C'.split(),
        'zones':   [1,2,3,4,5,6,7],
        'Val1':    [1,4,4,2,1,3,1],
        'Val2':    [3,0,1,2,1,3,0]
    })

mapping = pd.DataFrame({
        'sectors': 'A B A B B B C C C'.split(),
        'zones':   [1,2,2,3,4,5,6,7,5],
        'Val1':    [1,4,4,2,1,3,1,4,2],
        'Val2':    [3,0.01,1,2,1,3,3,1,0.01]
    })

In [17]:
mat77 = pd.concat([mat7, mat7*2], axis=1)
mat77.columns = pd.MultiIndex.from_product(['A B'.split(), mat7.columns])
mat77

     A          B
    T1  T2  T3 T1  T2  T3
O D
1 1  0   1   0  0   2   0
  2  1   2   6  2   4  12
  3  1   3  10  2   6  20
  4  0   4  12  0   8  24
  5  1   5  12  2  10  24
  6  1   6  10  2  12  20
  7  0   7   6  0  14  12
2 1  1   8   0  2  16   0
  2  1   9   0  2  18   0
  3  0  10  10  0  20  20
  4  1  11  12  2  22  24
  5  1  12  12  2  24  24
  6  0  13  10  0  26  20
  7  1  14   6  2  28  12
3 1  1  15   0  2  30   0
  2  0  16   6  0  32  12
  3  1  17   0  2  34   0
  4  1  18  12  2  36  24
  5  0  19  12  0  38  24
  6  1  20  10  2  40  20
  7  1  21   6  2  42  12
4 1  0  22   0  0  44   0
  2  1  23   6  2  46  12
  3  1  24  10  2  48  20
  4  0  25   0  0  50   0
  5  1  26  12  2  52  24
  6  1  27  10  2  54  20
  7  0  28   6  0  56  12
5 1  1  29   0  2  58   0
  2  1  30   6  2  60  12
  3  0  31  10  0  62  20
  4  1  32  12  2  64  24
  5  1  33   0  2  66   0
  6  0  34  10  0  68  20
  7  1  35   6  2  70  12
6 1  1  36   0  2  72   0
  2  0  37   6  0  74  12
  3  1  38  10  2  76  20
  4  1  39  12  2  78  24
  5  0  40  12  0  80  24
  6  1  41   0  2  82   0
  7  1  42   6  2  84  12
7 1  0  43   0  0  86   0
  2  1  44   6  2  88  12
  3  1  45  10  2  90  20
  4  0  46  12  0  92  24
  5  1  47  12  2  94  24
  6  1  48  10  2  96  20
  7  0  49   0  0  98   0

In [31]:
mat7.rezone(basicmapping, ['zones', 'sectors'])

                     A            B
                    T1   T2  T3  T1   T2   T3
sectors_O sectors_D
A         A          3   20   6   6   40   12
          B          4   45  68   8   90  136
          C          2   40  32   4   80   64
B         A          4  135  18   8  270   36
          B          6  225  68  12  450  136
          C          4  165  48   8  330   96
C         A          2  160  12   4  320   24
          B          4  255  68   8  510  136
          C          3  180  16   6  360   32

In [21]:
mat77.rezone(basicmapping, ['zones', 'sectors'], mapping_split_cols=['Val1', 'Val2'])

                       A                  B
                      T1     T2    T3    T1     T2     T3
sectors_O sectors_D
A         A          3.0   20.0   6.0   6.0   40.0   12.0
          B          4.0   45.0  68.0   8.0   90.0  136.0
          C          2.0   40.0  32.0   4.0   80.0   64.0
B         A          4.0  135.0  18.0   8.0  270.0   36.0
          B          6.0  225.0  68.0  12.0  450.0  136.0
          C          4.0  165.0  48.0   8.0  330.0   96.0
C         A          2.0  160.0  12.0   4.0  320.0   24.0
          B          4.0  255.0  68.0   8.0  510.0  136.0
          C          3.0  180.0  16.0   6.0  360.0   32.0

In [22]:
rezoned = mat77.rezone(mapping, ['zones', 'sectors'], mapping_split_cols=['Val1', 'Val2'])
rezoned

                            A                                 B              \
                           T1          T2         T3         T1          T2
sectors_O sectors_D
A         A          1.985149   11.435644   5.940594   3.970297   22.871287
          B          3.009868   28.527812  50.999605   6.019736   57.055623
          C          1.504983   26.536545  24.059801   3.009967   53.073090
B         A          4.179208  119.291089  15.445545   8.358416  238.582178
          B          6.213815  203.473695  76.254788  12.427631  406.947390
          C          4.106977  151.135216  49.699668   8.213953  302.270432
C         A          2.786139  182.679208  14.257426   5.572277  365.358416
          B          4.809210  293.987902  76.862840   9.618420  587.975803
          C          3.404651  207.932890  22.479734   6.809302  415.865781


                             T3
sectors_O sectors_D
A         A           11.881188
          B          101.999211
          C           48.119601
B         A           30.891089
          B          152.509575
          C           99.399336
C         A           28.514851
          B          153.725680
          C           44.959468

In [19]:
rezoned.TOTALS

T1      32.0
T2    1225.0
T3     336.0
dtype: float64

In [20]:
mat7.TOTALS

T1      32
T2    1225
T3     336
dtype: int64

In [24]:
cost7 = mat7.apply(lambda x: abs(randomizeSeries(x, 0.2)))
cost7

     T1   T2  T3
O D
1 1   0    3   0
  2   6   10  17
  3   1   11  49
  4   0    5   5
  5   6    0  44
  6   1   16   7
  7   0   18   0
2 1   6   31   0
  2   2   23   0
  3   0   27  40
  4   1    1  25
  5   1   57  31
  6   0   47  23
  7   0   19   8
3 1   1   24   0
  2   0   86  33
  3   0   44   0
  4   1   51  28
  5   0   11  36
  6   2   18  30
  7   2   26  20
4 1   0   65   0
  2   3   80  32
  3   1   77   7
  4   0   70   0
  5   2   81  26
  6   4   49   2
  7   0   96  16
5 1   3   28   0
  2   4   37  29
  3   0  160  27
  4   1   13  41
  5   1   45   0
  6   0   82  12
  7   5   38   0
6 1   3  154   0
  2   0   39  24
  3   1  116  39
  4   2  192  15
  5   0  170  42
  6   2  152   0
  7   5   33  12
7 1   0   35   0
  2   2  184   3
  3   4  124   6
  4   0  138  71
  5   1  155  29
  6   3   30  19
  7   0  184   0

In [32]:
cost77 = pd.concat([cost7, cost7*2], axis=1)
cost77.columns = pd.MultiIndex.from_product(['A B'.split(), cost7.columns])
cost77

     A            B
    T1   T2  T3  T1   T2   T3
O D
1 1  0    3   0   0    6    0
  2  6   10  17  12   20   34
  3  1   11  49   2   22   98
  4  0    5   5   0   10   10
  5  6    0  44  12    0   88
  6  1   16   7   2   32   14
  7  0   18   0   0   36    0
2 1  6   31   0  12   62    0
  2  2   23   0   4   46    0
  3  0   27  40   0   54   80
  4  1    1  25   2    2   50
  5  1   57  31   2  114   62
  6  0   47  23   0   94   46
  7  0   19   8   0   38   16
3 1  1   24   0   2   48    0
  2  0   86  33   0  172   66
  3  0   44   0   0   88    0
  4  1   51  28   2  102   56
  5  0   11  36   0   22   72
  6  2   18  30   4   36   60
  7  2   26  20   4   52   40
4 1  0   65   0   0  130    0
  2  3   80  32   6  160   64
  3  1   77   7   2  154   14
  4  0   70   0   0  140    0
  5  2   81  26   4  162   52
  6  4   49   2   8   98    4
  7  0   96  16   0  192   32
5 1  3   28   0   6   56    0
  2  4   37  29   8   74   58
  3  0  160  27   0  320   54
  4  1   13  41   2   26   82
  5  1   45   0   2   90    0
  6  0   82  12   0  164   24
  7  5   38   0  10   76    0
6 1  3  154   0   6  308    0
  2  0   39  24   0   78   48
  3  1  116  39   2  232   78
  4  2  192  15   4  384   30
  5  0  170  42   0  340   84
  6  2  152   0   4  304    0
  7  5   33  12  10   66   24
7 1  0   35   0   0   70    0
  2  2  184   3   4  368    6
  3  4  124   6   8  248   12
  4  0  138  71   0  276  142
  5  1  155  29   2  310   58
  6  3   30  19   6   60   38
  7  0  184   0   0  368    0

In [33]:
mat77_rezoned_weighted = mat77.rezone(mapping, ['zones', 'sectors'], ['Val1', 'Val2'], True, cost77)
mat77_rezoned_weighted

                       A                          B
                      T1         T2         T3   T1         T2         T3
sectors_O sectors_D
A         A          1.0   6.265273   6.000000  2.0  12.530546  12.000000
          B          1.0   9.136867  11.047686  2.0  18.273733  22.095372
          C          1.0   9.861231   9.312500  2.0  19.722463  18.625000
B         A          1.0  19.895883   6.000000  2.0  39.791765  12.000000
          B          1.0  23.989938  11.510110  2.0  47.979875  23.020221
          C          1.0  26.615798   8.246598  2.0  53.231597  16.493195
C         A          1.0  39.614679   6.000000  2.0  79.229358  12.000000
          B          1.0  41.389929  11.503401  2.0  82.779859  23.006803
          C          1.0  44.115651   8.681086  2.0  88.231303  17.362171

In [23]:
DEMMANDp = os.path.join('example_data', 'Demand_EMME.txt')
DEMMAND = Matrix.read_EMME(DEMMANDp)
DEMMAND

               temp10
O    D
101  101       1.5615
     102       0.0338
     103       4.1628
     104       2.0070
     105       1.5930
     106       0.1395
     107       0.8108
     108       0.7475
     109       0.2345
     110       0.3509
     111       0.6626
     112       0.4458
     113       0.3684
     114       0.5735
     115       0.0944
     116       0.2403
     117       0.3339
     118       0.2622
     119       0.2569
     201       0.1164
     202       0.0737
     203       0.1196
     204       0.2698
     205       0.0237
     206       0.2613
     207       0.0106
     208       0.0095
     209       0.1387
     210       0.0972
     211       0.0698
...               ...
1913 1781      0.0858
     1782      1.3428
     1783      0.7599
     1784      0.0816
     1801   3155.7934
     1802    119.7499
     1803   1188.3122
     1804     28.7936
     1805     71.6565
     1806      6.2300
     1807     26.4169
     1808      3.7560
     1809     11.4795
     1810     66.1949
     1811      1.5953
     1812     34.7306
     1813      1.8099
     1901      2.3164
     1902     11.2327
     1903     45.7226
     1904   5741.9848
     1905     29.2176
     1906     14.8447
     1907      3.6403
     1908      5.7690
     1909     84.8270
     1910      1.7470
     1911     15.4561
     1912    557.1537
     1913  25649.8144

[707281 rows x 1 columns]

In [24]:
DISTp = os.path.join('example_data', 'Dist_EMME.txt')
DIST = Matrix.read_EMME(DISTp)
DIST

                 Dist
O   D
1   1         0.00000
    2      7182.00000
    3     15634.99800
    4     23180.99800
    5     15533.99800
    6     30531.00390
    7     47291.00000
    8      9940.00195
    9     10772.00290
    10    17327.00190
    11    26253.00000
    12    45012.00780
    13    53452.00780
    14    51295.01170
    15    90100.00000
    16    91504.98430
    17    60492.00000
    18    68650.00000
    19    69266.00780
    20    67486.00000
    21    49757.00780
    22    34456.00000
    23    51594.00000
    24   102760.98400
    25    64037.98820
    26    41513.00000
    27    91613.00000
    28   108692.00000
    29    73069.63280
    30    65341.63670
...               ...
149 120   15081.77390
    121   13096.00980
    122   16533.95410
    123   16509.12840
    124   17529.24740
    125   13382.89200
    126   27195.85680
    127   31722.18240
    128   25792.68790
    129   25349.91560
    130   23291.95230
    131   25776.55050
    132   41845.24460
    133   36035.65900
    134   42309.50000
    135   37355.94660
    136   51069.27820
    137   50770.79190
    138   47824.90030
    139   55480.78080
    140   45454.57720
    141   44222.90500
    142   41739.51850
    143   38885.96880
    144   31699.49650
    145   21592.85070
    146   18044.11030
    147   17055.16570
    148   10935.56100
    149    2840.78815

[22138 rows x 1 columns]

In [25]:
tTO = randomizeTE(mat7.TO)
tTO

   T1   T2  T3
O
1   4   30  55
2   5   84  46
3   5  130  48
4   4  186  42
5   5  217  41
6   5  297  45
7   4  335  46

In [26]:
tTD = randomizeTE(mat7.TD)
tTD

   T1   T2  T3
D
1   4  145   0
2   5  171  37
3   5  164  65
4   4  171  77
5   5  187  72
6   5  175  54
7   4  181  38

In [27]:
fmat7 = mat7.furness(tTO, tTD)
fmat7

      T1         T2         T3
O D
1 1  0.0   1.018738   0.000000
  2  1.0   2.297476   6.009618
  3  1.0   3.166328  10.821653
  4  0.0   4.224542  12.609195
  5  1.0   5.551036  11.704639
  6  1.0   6.001267   8.821603
  7  0.0   6.981137   6.175280
2 1  1.0   8.243082   0.000000
  2  1.0  10.456847   0.000000
  3  0.0  10.675100  10.135806
  4  1.0  11.750317  11.810058
  5  1.0  13.474805  10.962831
  6  0.0  13.151409   8.262514
  7  1.0  14.121909   5.783907
3 1  1.0  14.596070   0.000000
  2  0.0  17.555906   6.497108
  3  1.0  17.138228   0.000000
  4  1.0  18.158270  13.632031
  5  0.0  20.148369  12.654100
  6  1.0  19.107505   9.537196
  7  1.0  20.004592   6.676208
4 1  0.0  22.038828   0.000000
  2  1.0  25.980784   5.918405
  3  1.0  24.908603  10.657404
  4  0.0  25.963492   0.000000
  5  1.0  28.384469  11.526989
  6  1.0  26.555770   8.687711
  7  0.0  27.459307   6.081553
5 1  1.0  26.469314   0.000000
  2  1.0  30.876249   5.659886
  3  0.0  29.314243  10.191883
  4  1.0  30.279726  11.875398
  5  1.0  32.824660   0.000000
  6  0.0  30.468629   8.308226
  7  1.0  31.273642   5.815907
6 1  1.0  36.891648   0.000000
  2  0.0  42.754897   5.833594
  3  1.0  40.344232  10.504683
  4  1.0  41.433101  12.239867
  5  0.0  44.671152  11.361806
  6  1.0  41.251402   0.000000
  7  1.0  42.134764   5.994404
7 1  0.0  42.132646   0.000000
  2  1.0  48.614021   5.647406
  3  1.0  45.680947  10.169411
  4  0.0  46.726730  11.849214
  5  1.0  50.186828  10.999178
  6  1.0  46.176480   8.289908
  7  0.0  47.001540   0.000000

In [28]:
max([max(x,y) for x,y in zip((fmat7.TO - tTO).abs().max(), (fmat7.TD - tTD).abs().max())])

8.4808077473861658

# TLD examples

In [29]:
ex_matrixf = os.path.join('example_data', 'ex_matrix_1.csv')
ex_matrix = Matrix(pd.DataFrame.from_csv(ex_matrixf, index_col=[0,1]))
ex_matrix

                   T
zone_O zone_D
1001   1001     16.0
       1002      8.0
       1003     16.0
       1004      6.0
       1005      2.0
       1006      6.0
       1007      3.0
       1008      6.0
       1009      6.0
       1010     10.0
       1011      8.0
       1012     21.0
       1013      7.0
       1014     12.0
       1015     27.0
       1016      4.0
       1017     28.0
       1018     70.0
       1019     66.0
       1020     11.0
       1021      6.0
       1022      6.0
       1023      3.0
       1024      8.0
       1025      3.0
       1026     13.0
       1027      2.0
       1029      1.0
       1030      2.0
       1031      2.0
...              ...
8001   6520      1.0
       6524      1.0
       6526      1.0
       6528      1.0
       6530      6.0
       6531      2.0
       6538      1.0
       6543      1.0
       6564      2.0
       6566      1.0
       6579      1.0
       6581      3.0
       6585      1.0
       6586      1.0
       6588      1.0
       6599      1.0
       6609      1.0
       6615     15.0
       6616     17.0
       6617     55.0
       6618     95.0
       6619    262.0
       6620    520.0
       6621    160.0
       6622      4.0
       6623      2.0
       6624      3.0
       6626     26.0
       8000      1.0
       8001     35.0

[381942 rows x 1 columns]

In [30]:
ex_skimdistf = os.path.join('example_data', 'ex_skimdist_1.csv')
ex_skimdist = Matrix(pd.DataFrame.from_csv(ex_skimdistf, index_col=[0,1]))
ex_skimdist

                    meters
zone_O zone_D
1001   1002      395.00003
       1003      625.00000
       1004     1045.00012
       1005     1225.00012
       1006     2404.99951
       1007      784.99988
       1008     1345.00000
       1009     1699.99976
       1010     1610.00012
       1011     1965.00000
       1012     2330.00000
       1013     2930.00024
       1014     2204.99976
       1015     3294.99902
       1016     2945.00000
       1017     3150.00000
       1018     3139.99951
       1019     4160.00000
       1020     3845.00000
       1021     3789.99927
       1022     4579.99951
       1023     4855.00098
       1024     4950.00000
       1025     5294.99951
       1026     5150.00000
       1027     6894.99902
       1028     6795.00000
       1029     7184.99951
       1030     9655.00098
       1031     8305.00000
...                    ...
8001   6600    53748.96094
       6601    54353.96094
       6602    54193.96875
       6604    68178.39063
       6605    80427.67188
       6608    56685.00000
       6609    55510.00000
       6610    59349.99219
       6611    61135.00000
       6612    57930.13672
       6613    50023.85547
       6614    50455.14063
       6615     9334.99805
       6616     6770.00000
       6617     7734.44287
       6618     8629.55566
       6619     4629.99951
       6620     2805.00000
       6621     3165.00000
       6622    11105.00000
       6623    37805.55469
       6624    37575.75781
       6625    47523.96875
       6626     5155.00000
       6627    39772.79297
       6628    27860.14648
       6629    60453.96484
       6630    68531.44531
       6631    25420.94141
       8000    61044.99609

[1496950 rows x 1 columns]

In [31]:
## Fill intrazonals
ex_skimdist = ex_skimdist.complete(ex_matrix.index)

In [32]:
ex_TLD = TLD.from_mat(ex_matrix, ex_skimdist, 5)
ex_TLD

                T
meters
0             0.0
5        322828.0
205          84.0
210          16.0
215           3.0
225           NaN
235          24.0
240           NaN
245          62.0
255          21.0
260          69.0
265          19.0
270          10.0
280          15.0
285           NaN
290           NaN
295          24.0
300          70.0
305          35.0
315          27.0
320           5.0
325         106.0
330         128.0
335          12.0
345          12.0
350         134.0
360          41.0
365           2.0
370          21.0
375          17.0
...           ...
771090        3.0
772630        3.0
773455        NaN
775125        3.0
776765        5.0
776900        5.0
778100        NaN
778280        NaN
779455      375.0
781825        8.0
781830       12.0
782250        6.0
782800       99.0
782985       42.0
782990       50.0
783760      100.0
784140       30.0
794815      180.0
797065      193.0
797145       93.0
805335      378.0
811615      261.0
811660      290.0
813830      214.0
871825      211.0
873435        2.0
873480       57.0
887760        NaN
926415        NaN
1038020       NaN

[58329 rows x 1 columns]

In [33]:
ex_TLD.sum()

T    4864971.0
dtype: float64

In [34]:
dst = mat7.copy()
dst['T1'] = (dst.index.get_level_values(0)**2 - dst.index.get_level_values(1)**2)**2
dst['T2'] = dst['T1'] / dst.index.get_level_values(0)
dst['T2'] = dst['T1'] / dst.index.get_level_values(1)
dst.columns = 'D1 D2 D3'.split()
dst

       D1           D2  D3
O D
1 1     0     0.000000   0
  2     9     4.500000   6
  3    64    21.333333  10
  4   225    56.250000  12
  5   576   115.200000  12
  6  1225   204.166667  10
  7  2304   329.142857   6
2 1     9     9.000000   0
  2     0     0.000000   0
  3    25     8.333333  10
  4   144    36.000000  12
  5   441    88.200000  12
  6  1024   170.666667  10
  7  2025   289.285714   6
3 1    64    64.000000   0
  2    25    12.500000   6
  3     0     0.000000   0
  4    49    12.250000  12
  5   256    51.200000  12
  6   729   121.500000  10
  7  1600   228.571429   6
4 1   225   225.000000   0
  2   144    72.000000   6
  3    49    16.333333  10
  4     0     0.000000   0
  5    81    16.200000  12
  6   400    66.666667  10
  7  1089   155.571429   6
5 1   576   576.000000   0
  2   441   220.500000   6
  3   256    85.333333  10
  4    81    20.250000  12
  5     0     0.000000   0
  6   121    20.166667  10
  7   576    82.285714   6
6 1  1225  1225.000000   0
  2  1024   512.000000   6
  3   729   243.000000  10
  4   400   100.000000  12
  5   121    24.200000  12
  6     0     0.000000   0
  7   169    24.142857   6
7 1  2304  2304.000000   0
  2  2025  1012.500000   6
  3  1600   533.333333  10
  4  1089   272.250000  12
  5   576   115.200000  12
  6   169    28.166667  10
  7     0     0.000000   0

In [35]:
TLD_single = TLD.from_mat_single(mat7,dst,dist_band=5)
TLD_single

      T1     T2     T3
D3
0    0.0    0.0    0.0
5    8.0  328.0    0.0
10   8.0  299.0   72.0
15  16.0  598.0  264.0

In [36]:
TLD_multi = TLD.from_mat(mat7,dst,dist_band=5)
TLD_multi

       T1     T2     T3
0     0.0    0.0    0.0
5     4.0  177.0    0.0
10    2.0   18.0   72.0
15    NaN   34.0  264.0
20    NaN   50.0    NaN
25    NaN  151.0    NaN
30    0.0   48.0    NaN
40    NaN   11.0    NaN
50    2.0    NaN    NaN
55    NaN   19.0    NaN
60    NaN    4.0    NaN
65    2.0   15.0    NaN
70    NaN   27.0    NaN
75    NaN   23.0    NaN
85    2.0   35.0    NaN
90    NaN   43.0    NaN
105   NaN   39.0    NaN
120   NaN   52.0    NaN
125   0.0   20.0    NaN
145   2.0    NaN    NaN
160   NaN   28.0    NaN
170   2.0    NaN    NaN
175   NaN   13.0    NaN
205   NaN    6.0    NaN
225   NaN   30.0    NaN
230   0.0   43.0    NaN
245   NaN   38.0    NaN
260   0.0    NaN    NaN
275   NaN   46.0    NaN
290   NaN   14.0    NaN
330   NaN    7.0    NaN
405   2.0    NaN    NaN
445   2.0    NaN    NaN
515   NaN   37.0    NaN
535   NaN   45.0    NaN
580   4.0   29.0    NaN
730   2.0    NaN    NaN
1015  NaN   44.0    NaN
1025  0.0    NaN    NaN
1090  0.0    NaN    NaN
1230  2.0   36.0    NaN
1605  2.0    NaN    NaN
2030  2.0    NaN    NaN
2305  0.0   43.0    NaN

In [37]:
mat7.sum()

T1      32
T2    1225
T3     336
dtype: int64

In [38]:
TLD_single.sum()

T1      32.0
T2    1225.0
T3     336.0
dtype: float64

In [39]:
TLD_multi.sum()

T1      32.0
T2    1225.0
T3     336.0
dtype: float64

In [40]:
TLD_multi.norm.sum()

T1    1.0
T2    1.0
T3    1.0
dtype: float64

In [41]:
TLD_multi.band_agg(10).sum()

T1      32.0
T2    1225.0
T3     336.0
dtype: float64

In [42]:
OutputName = os.path.join('.', 'example_outputs', 'TLD.png')
TLD_multi.to_JPG(OutputName)

In [43]:
oFileNamePattern = os.path.join('example_outputs', 'TLD_{}.png')
TLD_multi.cols_to_JPGs(oFileNamePattern)

In [44]:
TLD1 = TLD_multi.copy()
TLD2 = TLD_multi.copy() + 3
TLD3 = TLD_multi.copy()
TLD3 = TLD3.apply(lambda x: x + TLD3.index.get_level_values(0))
TLDs = [TLD1, TLD2, TLD3]
i = 1
for TLD in TLDs:
    TLD.columns = ['mat{}_{}'.format(i,col) for col in TLD]
    i+=1

In [45]:
oFileNamePattern = os.path.join('example_outputs', 'TLD_{}.png')
TLD.comparison_to_JPGs(TLDs, oFileNamePattern=oFileNamePattern)

In [46]:
oFileNamePattern = os.path.join('example_outputs', 'ex_TLD_{}.png')
ex_TLD.cols_to_JPGs(oFileNamePattern)

# TE comparison

In [47]:
oFileNamePattern = os.path.join('example_outputs', '{}')
TE_comparison_to_JPGs(mat7,fmat7, oFileNamePattern=oFileNamePattern, prefixes='mat_ fmat7_'.split())

In [48]:
TE_RegressionStats(mat7,fmat7, prefixes='mat_ fmat7_'.split())

                            slope  intercept        R2
mat_T1_TO - fmat7_T1_TO  1.000000   0.000000  1.000000
mat_T2_TO - fmat7_T2_TO  1.014467   0.556962  0.996888
mat_T3_TO - fmat7_T3_TO  0.966080   0.729117  0.889282
mat_T1_TD - fmat7_T1_TD  1.000000   0.000000  1.000000
mat_T2_TD - fmat7_T2_TD  0.740438  48.512023  0.793573
mat_T3_TD - fmat7_T3_TD  0.978409   0.137321  0.990244

# Gravity

In [49]:
TLD_multi_for_ParamEst = TLD_multi.loc[1:,:]
TLD_multi_for_ParamEst = TLD_multi_for_ParamEst.mid_band(factor=-0.5)
TLD_multi_for_ParamEst = TLD_multi_for_ParamEst.norm
TLD_multi_for_ParamEst

            T1        T2        T3
2.5     0.1250  0.144490  0.000000
7.5     0.0625  0.014694  0.214286
12.5       NaN  0.027755  0.785714
17.5       NaN  0.040816       NaN
22.5       NaN  0.123265       NaN
27.5    0.0000  0.039184       NaN
37.5       NaN  0.008980       NaN
47.5    0.0625       NaN       NaN
52.5       NaN  0.015510       NaN
57.5       NaN  0.003265       NaN
62.5    0.0625  0.012245       NaN
67.5       NaN  0.022041       NaN
72.5       NaN  0.018776       NaN
82.5    0.0625  0.028571       NaN
87.5       NaN  0.035102       NaN
102.5      NaN  0.031837       NaN
117.5      NaN  0.042449       NaN
122.5   0.0000  0.016327       NaN
142.5   0.0625       NaN       NaN
157.5      NaN  0.022857       NaN
167.5   0.0625       NaN       NaN
172.5      NaN  0.010612       NaN
202.5      NaN  0.004898       NaN
222.5      NaN  0.024490       NaN
227.5   0.0000  0.035102       NaN
242.5      NaN  0.031020       NaN
257.5   0.0000       NaN       NaN
272.5      NaN  0.037551       NaN
287.5      NaN  0.011429       NaN
327.5      NaN  0.005714       NaN
402.5   0.0625       NaN       NaN
442.5   0.0625       NaN       NaN
512.5      NaN  0.030204       NaN
532.5      NaN  0.036735       NaN
577.5   0.1250  0.023673       NaN
727.5   0.0625       NaN       NaN
1012.5     NaN  0.035918       NaN
1022.5  0.0000       NaN       NaN
1087.5  0.0000       NaN       NaN
1227.5  0.0625  0.029388       NaN
1602.5  0.0625       NaN       NaN
2027.5  0.0625       NaN       NaN
2302.5  0.0000  0.035102       NaN

In [50]:
#lognorm gamma exponnorm exponpow tanner
dists = fit_distribs(TLD_multi_for_ParamEst, 'lognorm exponnorm exponpow'.split())
dists

{'T1': [<scipy.stats._distn_infrastructure.rv_frozen at 0x16d9a1d0>,
  <scipy.stats._distn_infrastructure.rv_frozen at 0x168eaa20>,
  <scipy.stats._distn_infrastructure.rv_frozen at 0x168eab00>],
 'T2': [<scipy.stats._distn_infrastructure.rv_frozen at 0x16726a58>,
  <scipy.stats._distn_infrastructure.rv_frozen at 0x167266d8>,
  <scipy.stats._distn_infrastructure.rv_frozen at 0x16726390>],
 'T3': [<scipy.stats._distn_infrastructure.rv_frozen at 0x16564320>,
  <scipy.stats._distn_infrastructure.rv_frozen at 0x16564160>,
  <scipy.stats._distn_infrastructure.rv_frozen at 0x165647f0>]}

In [51]:
tTO = randomizeTE(mat7.TO)
tTD = randomizeTE(mat7.TO)
tTO

   T1   T2  T3
O
1   4   27  58
2   5   84  51
3   5  116  46
4   4  160  44
5   5  239  44
6   5  247  46
7   4  293  45

In [52]:
syn7 = mat7.ApplyGravityModel(tTO, tTD, dists, furness=False)
syn7

         T1                         T3                         T2            \
    lognorm exponnorm exponpow lognorm exponnorm exponpow lognorm exponnorm
O D
1 1     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  2     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  3     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  4     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  5     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  6     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  7     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
2 1     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  2     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  3     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  4     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  5     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  6     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  7     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
3 1     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  2     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  3     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  4     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  5     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  6     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  7     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
4 1     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  2     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  3     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  4     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  5     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  6     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  7     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
5 1     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  2     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  3     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  4     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  5     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  6     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  7     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
6 1     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  2     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  3     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  4     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  5     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  6     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  7     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
7 1     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  2     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  3     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  4     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  5     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  6     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  7     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN


    exponpow
O D
1 1      NaN
  2      NaN
  3      NaN
  4      NaN
  5      NaN
  6      NaN
  7      NaN
2 1      NaN
  2      NaN
  3      NaN
  4      NaN
  5      NaN
  6      NaN
  7      NaN
3 1      NaN
  2      NaN
  3      NaN
  4      NaN
  5      NaN
  6      NaN
  7      NaN
4 1      NaN
  2      NaN
  3      NaN
  4      NaN
  5      NaN
  6      NaN
  7      NaN
5 1      NaN
  2      NaN
  3      NaN
  4      NaN
  5      NaN
  6      NaN
  7      NaN
6 1      NaN
  2      NaN
  3      NaN
  4      NaN
  5      NaN
  6      NaN
  7      NaN
7 1      NaN
  2      NaN
  3      NaN
  4      NaN
  5      NaN
  6      NaN
  7      NaN

In [53]:
syn7.columns.get_level_values(0)

Index(['T1', 'T1', 'T1', 'T3', 'T3', 'T3', 'T2', 'T2', 'T2'], dtype='object')

##TODO: Debug
syn7.loc[:,:] = 1
syn7.furness(tTO, tTD)

In [55]:
cols = [(k, d.dist.name) for k,dlst in dists.items() for d in dlst]
#cols
pd.MultiIndex.from_tuples(cols)

MultiIndex(levels=[['T1', 'T2', 'T3'], ['exponnorm', 'exponpow', 'lognorm']],
           labels=[[0, 0, 0, 2, 2, 2, 1, 1, 1], [2, 0, 1, 2, 0, 1, 2, 0, 1]])

In [56]:
df = pd.DataFrame(index=mat7.index, columns=pd.MultiIndex.from_tuples(cols))
#df[(['foo', 'bar'])] = 1
df

         T1                         T3                         T2            \
    lognorm exponnorm exponpow lognorm exponnorm exponpow lognorm exponnorm
O D
1 1     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  2     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  3     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  4     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  5     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  6     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  7     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
2 1     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  2     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  3     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  4     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  5     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  6     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  7     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
3 1     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  2     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  3     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  4     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  5     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  6     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  7     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
4 1     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  2     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  3     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  4     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  5     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  6     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  7     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
5 1     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  2     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  3     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  4     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  5     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  6     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  7     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
6 1     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  2     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  3     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  4     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  5     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  6     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  7     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
7 1     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  2     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  3     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  4     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  5     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  6     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  7     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN


    exponpow
O D
1 1      NaN
  2      NaN
  3      NaN
  4      NaN
  5      NaN
  6      NaN
  7      NaN
2 1      NaN
  2      NaN
  3      NaN
  4      NaN
  5      NaN
  6      NaN
  7      NaN
3 1      NaN
  2      NaN
  3      NaN
  4      NaN
  5      NaN
  6      NaN
  7      NaN
4 1      NaN
  2      NaN
  3      NaN
  4      NaN
  5      NaN
  6      NaN
  7      NaN
5 1      NaN
  2      NaN
  3      NaN
  4      NaN
  5      NaN
  6      NaN
  7      NaN
6 1      NaN
  2      NaN
  3      NaN
  4      NaN
  5      NaN
  6      NaN
  7      NaN
7 1      NaN
  2      NaN
  3      NaN
  4      NaN
  5      NaN
  6      NaN
  7      NaN

# DEV