In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(data=[range(6) for row in range(3)], columns=['A1', 'A2', 'A3', 'B1', 'B2', 'B3'])
df

   A1  A2  A3  B1  B2  B3
0   0   1   2   3   4   5
1   0   1   2   3   4   5
2   0   1   2   3   4   5

In [3]:
def mat(n):
    mat = pd.DataFrame({'O': [x+1 for x in range(n) for _ in range(n)],
                        'D': [x+1 for x in range(n)] * n,
                        'T1':[int((x%3)!=0) for x in range(n*n)],
                        'T2':[x+1 for x in range(n*n)],
                        'T3':[-(x%n)**2+n*(x%n) for x in range(n*n)]})
    mat = mat.set_index(['O', 'D'])
    #remove intrazonals:
    mat.loc[mat.index.get_level_values(0) == mat.index.get_level_values(1), 'T3'] = 0 
    return mat

In [4]:
m = mat(7)
m

     T1  T2  T3
O D
1 1   0   1   0
  2   1   2   6
  3   1   3  10
  4   0   4  12
  5   1   5  12
  6   1   6  10
  7   0   7   6
2 1   1   8   0
  2   1   9   0
  3   0  10  10
  4   1  11  12
  5   1  12  12
  6   0  13  10
  7   1  14   6
3 1   1  15   0
  2   0  16   6
  3   1  17   0
  4   1  18  12
  5   0  19  12
  6   1  20  10
  7   1  21   6
4 1   0  22   0
  2   1  23   6
  3   1  24  10
  4   0  25   0
  5   1  26  12
  6   1  27  10
  7   0  28   6
5 1   1  29   0
  2   1  30   6
  3   0  31  10
  4   1  32  12
  5   1  33   0
  6   0  34  10
  7   1  35   6
6 1   1  36   0
  2   0  37   6
  3   1  38  10
  4   1  39  12
  5   0  40  12
  6   1  41   0
  7   1  42   6
7 1   0  43   0
  2   1  44   6
  3   1  45  10
  4   0  46  12
  5   1  47  12
  6   1  48  10
  7   0  49   0

In [5]:
def I(n):
    '''returns identity matrix of n x n'''
    matI = pd.DataFrame({'O': [x+1 for x in range(n) for _ in range(n)],
                         'D': [x+1 for x in range(n)] * n})
    matI['T'] = (matI.O == matI.D).apply(int)
    matI = matI.set_index(['O', 'D'])
    return matI

In [6]:
I3 = I(3)
I3

     T
O D
1 1  1
  2  0
  3  0
2 1  0
  2  1
  3  0
3 1  0
  2  0
  3  1

In [7]:
ex_matrix = pd.read_csv('ex_matrix_1.csv', index_col=[0,1])
ex_skimdist = pd.read_csv('ex_skimdist_1.csv', index_col=[0,1])

In [11]:
ex_matrix

                   T
zone_O zone_D
1001   1001     16.0
       1002      8.0
       1003     16.0
       1004      6.0
       1005      2.0
       1006      6.0
       1007      3.0
       1008      6.0
       1009      6.0
       1010     10.0
       1011      8.0
       1012     21.0
       1013      7.0
       1014     12.0
       1015     27.0
       1016      4.0
       1017     28.0
       1018     70.0
       1019     66.0
       1020     11.0
       1021      6.0
       1022      6.0
       1023      3.0
       1024      8.0
       1025      3.0
       1026     13.0
       1027      2.0
       1029      1.0
       1030      2.0
       1031      2.0
...              ...
8001   6520      1.0
       6524      1.0
       6526      1.0
       6528      1.0
       6530      6.0
       6531      2.0
       6538      1.0
       6543      1.0
       6564      2.0
       6566      1.0
       6579      1.0
       6581      3.0
       6585      1.0
       6586      1.0
       6588      1.0
       6599      1.0
       6609      1.0
       6615     15.0
       6616     17.0
       6617     55.0
       6618     95.0
       6619    262.0
       6620    520.0
       6621    160.0
       6622      4.0
       6623      2.0
       6624      3.0
       6626     26.0
       8000      1.0
       8001     35.0

[381942 rows x 1 columns]

In [10]:
ex_skimdist

                    meters
zone_O zone_D
1001   1002      395.00003
       1003      625.00000
       1004     1045.00012
       1005     1225.00012
       1006     2404.99951
       1007      784.99988
       1008     1345.00000
       1009     1699.99976
       1010     1610.00012
       1011     1965.00000
       1012     2330.00000
       1013     2930.00024
       1014     2204.99976
       1015     3294.99902
       1016     2945.00000
       1017     3150.00000
       1018     3139.99951
       1019     4160.00000
       1020     3845.00000
       1021     3789.99927
       1022     4579.99951
       1023     4855.00098
       1024     4950.00000
       1025     5294.99951
       1026     5150.00000
       1027     6894.99902
       1028     6795.00000
       1029     7184.99951
       1030     9655.00098
       1031     8305.00000
...                    ...
8001   6600    53748.96094
       6601    54353.96094
       6602    54193.96875
       6604    68178.39063
       6605    80427.67188
       6608    56685.00000
       6609    55510.00000
       6610    59349.99219
       6611    61135.00000
       6612    57930.13672
       6613    50023.85547
       6614    50455.14063
       6615     9334.99805
       6616     6770.00000
       6617     7734.44287
       6618     8629.55566
       6619     4629.99951
       6620     2805.00000
       6621     3165.00000
       6622    11105.00000
       6623    37805.55469
       6624    37575.75781
       6625    47523.96875
       6626     5155.00000
       6627    39772.79297
       6628    27860.14648
       6629    60453.96484
       6630    68531.44531
       6631    25420.94141
       8000    61044.99609

[1496950 rows x 1 columns]