In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(data=[range(6) for row in range(3)], columns=['A1', 'A2', 'A3', 'B1', 'B2', 'B3'])
df

   A1  A2  A3  B1  B2  B3
0   0   1   2   3   4   5
1   0   1   2   3   4   5
2   0   1   2   3   4   5

In [21]:
mat = pd.DataFrame({'O': [1,1,1,2,2,2,3,3,3],
                     'D': [1,2,3,1,2,3,1,2,3],
                     'T1':[int((x%3)!=0) for x in range(9)],
                     'T2':[x+1 for x in range(9)]})
mat = mat.set_index(['O', 'D'])
mat

     T1  T2
O D
1 1   0   1
  2   1   2
  3   1   3
2 1   0   4
  2   1   5
  3   1   6
3 1   0   7
  2   1   8
  3   1   9

In [20]:
matI = pd.DataFrame({'O': [1,1,1,2,2,2,3,3,3],
                     'D': [1,2,3,1,2,3,1,2,3]})
matI['T'] = (matI.O == matI.D).apply(int)
matI = matI.set_index(['O', 'D'])
matI

     T
O D
1 1  1
  2  0
  3  0
2 1  0
  2  1
  3  0
3 1  0
  2  0
  3  1